@page
@model IndexModel
@using Microsoft.Extensions.Localization
@using TimeTracker.AdminUI.Resources
@inject IStringLocalizer<Pages> Localizer
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
